* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
	background-color: $black;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

a {
	color: $black;
	text-decoration: none;
	text-transform: none;
}

.fade-enter-active, .fade-leave-active {
	transition-property: opacity;
	transition-duration: .25s;
}

.fade-enter-active {
	transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
	opacity: 0;
}