@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans+Condensed:300|Raleway");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

body {
  background-color: #222;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300; }

a {
  color: #222;
  text-decoration: none;
  text-transform: none; }

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s; }

.fade-enter-active {
  transition-delay: .25s; }

.fade-enter, .fade-leave-active {
  opacity: 0; }

#homepage {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow: auto;
  z-index: 1;
  background-image: url("/assets/img/entrance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  #homepage:before {
    content: '';
    background: #f8f8f8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: -1; }
  #homepage .inner {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    #homepage .inner .header {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: auto;
      margin-bottom: 50px; }
      #homepage .inner .header .logo {
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: auto; }
        #homepage .inner .header .logo a {
          display: inline-block;
          vertical-align: top;
          width: 100%;
          height: auto;
          padding: 30px 0;
          text-align: center;
          font-size: 40px;
          font-family: 'Kaushan Script', cursive; }
          #homepage .inner .header .logo a img {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: auto;
            max-width: 200px; }
    #homepage .inner .menu {
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 100vw;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-family: 'Open Sans Condensed', sans-serif; }
      #homepage .inner .menu a {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: auto;
        height: auto;
        padding: 20px 40px;
        margin: 0 10px;
        text-align: center;
        color: #222;
        font-size: 25px;
        text-transform: uppercase;
        transition: all .2s;
        cursor: pointer; }
        #homepage .inner .menu a img {
          display: block;
          margin: 0 auto;
          width: 60%;
          max-width: 60px; }
        #homepage .inner .menu a:hover, #homepage .inner .menu a:active, #homepage .inner .menu a.active {
          border-color: #222; }

@media only screen and (max-width: 768px) {
  #homepage .inner .menu a {
    width: 46%;
    margin: 0 2%; } }
@media only screen and (max-width: 480px) {
  #homepage .inner .header .logo a {
    font-size: 30px; }
    #homepage .inner .header .logo a img {
      max-width: 120px; }
  #homepage .inner .menu a {
    font-size: 20px;
    padding: 10px 20px; }
    #homepage .inner .menu a img {
      display: block;
      margin: 0 auto;
      width: 60%;
      max-width: 50px; } }
#navbar {
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  z-index: 100;
  background: #f8f8f8;
  border-bottom: 1px solid #dddddd; }
  #navbar .inner {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
    #navbar .inner .logo {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: 100%;
      padding: 15px 0; }
      #navbar .inner .logo a {
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: 70px;
        line-height: 70px;
        font-family: 'Kaushan Script', cursive; }
        #navbar .inner .logo a img {
          display: inline-block;
          vertical-align: top;
          width: auto;
          height: 100%;
          margin-right: 20px; }
    #navbar .inner .main-menu {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: 100%;
      padding: 15px 0;
      text-align: center;
      font-family: 'Open Sans Condensed', sans-serif; }
      #navbar .inner .main-menu a {
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: 70px;
        line-height: 70px;
        margin: 0 10px;
        padding: 0 15px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border-bottom: 1px solid transparent; }
        #navbar .inner .main-menu a:hover, #navbar .inner .main-menu a:active, #navbar .inner .main-menu a.active {
          border-bottom-color: #222; }
        #navbar .inner .main-menu a img {
          display: inline-block;
          vertical-align: top;
          width: auto;
          height: 48px;
          margin: 13px 5px 9px 0; }
    #navbar .inner .hamburger {
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 30px;
      height: 21px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      cursor: pointer;
      display: none; }
      #navbar .inner .hamburger:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: black; }

@media screen and (max-width: 1150px) {
  #navbar .inner .logo a {
    font-size: 0; }
    #navbar .inner .logo a img {
      margin: 0; } }
@media screen and (max-width: 925px) {
  #navbar .inner .main-menu a img {
    display: none; } }
@media screen and (max-width: 768px) {
  #navbar .inner .main-menu {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    visibility: hidden;
    width: 100%;
    height: auto;
    padding: 20px 30px;
    opacity: 0;
    background: #f8f8f8;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    #navbar .inner .main-menu.show {
      opacity: 1;
      visibility: visible; }
    #navbar .inner .main-menu a {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: auto;
      text-align: center;
      line-height: initial;
      margin: 5px 10px; }
      #navbar .inner .main-menu a img {
        display: block;
        margin: 5px auto; }
  #navbar .inner .hamburger {
    display: inline-block; } }
.page {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  padding: 100px 0 0; }

.page-header {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 60vh;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .page-header:before {
    content: '';
    background: #222;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1; }
  .page-header .page-title {
    color: white;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    padding: 20px 30px;
    border-top: 3px solid #f8f8f8;
    border-bottom: 3px solid #f8f8f8; }

.page-text {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  background: #f8f8f8;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  .page-text .picture {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .page-text .content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: auto;
    padding: 30px 5%; }
    .page-text .content .title {
      font-size: 30px;
      font-family: 'Kaushan Script', cursive;
      margin: 0 0 30px; }
    .page-text .content p {
      margin: 15px 0;
      font-size: 18px; }

@media screen and (max-width: 768px) {
  .page-text {
    flex-wrap: wrap;
    flex-direction: column; }
    .page-text .content {
      width: 100%; }
    .page-text .picture {
      width: 100%;
      height: 50vw; } }

/*# sourceMappingURL=main.css.map */
