<div id="index">
    <section class="header">
        <h1 class="logo">
            <a href="http://tbsalicante.com">
                <img src="assets/img/logo.svg"/>
                Tattoo Barber Shop Alc
            </a>
        </h1>
    </section>
    <section class="menu">
        <ul>
            <li>
                <a ui-sref="page.tattoos">
                    <img src="assets/icons/tattoo.svg"/>
                    Tattoo Studio
                </a>
            </li>
            <li>
                <a ui-sref="barber">
                    <img src="assets/icons/barber.svg"/>
                    Barber Shop
                </a>
            </li>
            <li>
                <a ui-sref="base.barber">
                    <img src="assets/icons/family.svg"/>
                    TBS Family
                </a>
            </li>
            <li>
                <a ui-sref="base.barber">
                    <img src="assets/icons/studio.svg"/>
                    The Studio
                </a>
            </li>
        </ul>
    </section>
</div>