<div id="index">
    <div class="inner">
        <header class="header">
            <h1 class="logo">
                <a ui-sref="index">
                    <img src="assets/img/logo.svg"/>
                    Tattoo Barber Shop Alc
                </a>
            </h1>
        </header>
        <nav class="index-menu">
            <a ui-sref="page.tattoos">
                <img src="assets/icons/tattoo.svg"/>
                Tattoo Studio
            </a>
            <a ui-sref="barber">
                <img src="assets/icons/barber.svg"/>
                Barber Shop
            </a>
            <a ui-sref="base.barber">
                <img src="assets/icons/family.svg"/>
                TBS Family
            </a>
            <a ui-sref="base.barber">
                <img src="assets/icons/studio.svg"/>
                The Studio
            </a>
        </nav>
    </div>
</div>