<div id="index" class="">

    <header class="header">
        <h1 class="logo">
            <a href="http://tbsalicante.com">
                <img src="assets/img/logo.svg"/>
                Tattoo Barber Shop Alc
            </a>
        </h1>
    </header>

    <nav>
        <ul>
            <li>
                <h2>
                    <a ui-sref="base.tattoos">
                        <img src="assets/icons/tattoo.svg"/>
                        Tattoo Studio
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a ui-sref="base.barber">
                        <img src="assets/icons/barber.svg"/>
                        Barber Shop
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a ui-sref="base.barber">
                        <img src="assets/icons/family.svg"/>
                        TBS Family
                    </a>
                </h2>
            </li>
            <li>
                <h2>
                    <a ui-sref="base.barber">
                        <img src="assets/icons/studio.svg"/>
                        The Studio
                    </a>
                </h2>
            </li>
        </ul>
    </nav>
</div>