<header id="header" data-ng-init="toggleMenu=false">
    <div class="inner">
        <h1 class="logo">
            <a ui-sref="index">
                <img src="assets/img/logo.svg"/>
                Tattoo Barber Shop Alc
            </a>
        </h1>
        <span class="hamburger" data-ng-click="toggleMenu=!toggleMenu"></span>
        <nav class="main-menu" data-ng-class="{'show': toggleMenu}">
            <a ui-sref="page.tattoos">
                <img src="assets/icons/tattoo.svg"/>
                Tattoo Studio
            </a>
            <a ui-sref="page.barber">
                <img src="assets/icons/barber.svg"/>
                Barber Shop
            </a>
            <a ui-sref="base.barber">
                <img src="assets/icons/family.svg"/>
                TBS Family
            </a>
            <a ui-sref="base.barber">
                <img src="assets/icons/studio.svg"/>
                The Studio
            </a>
        </nav>
    </div>
</header>

<ui-view></ui-view>