<header id="header">
    <nav>
        <ul>
            <li>
                <a ui-sref="page.tattoos">
                    <img src="assets/icons/tattoo.svg"/>
                    Tattoo Studio
                </a>
            </li>
            <li>
                <a ui-sref="page.barber">
                    <img src="assets/icons/barber.svg"/>
                    Barber Shop
                </a>
            </li>
            <li class="logo">
                 <a ui-sref="index">
                     <img src="assets/img/logo.svg"/>
                 </a>
            </li>
            <li>
                <a ui-sref="base.barber">
                    <img src="assets/icons/family.svg"/>
                    TBS Family
                </a>
            </li>
            <li>
                <a ui-sref="base.barber">
                    <img src="assets/icons/studio.svg"/>
                    The Studio
                </a>
            </li>
        </ul>
    </nav>
</header>

<ui-view></ui-view>