<div id="tattoos">
	<section class="title-section">
		<h2 class="title">Tattoo Studio</h2>
	</section>

	<section class="content-section">
		<div class="portrait"></div>
		<div class="content">
			<h3 class="title">Lorem ipsum dolor sit amet</h3>
			<p>Maecenas ut tortor magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas efficitur nibh eget nisl scelerisque, rhoncus volutpat elit mollis. Nam ultrices maximus enim, quis egestas leo. Phasellus blandit sed risus id condimentum. Quisque id lectus nec justo faucibus rhoncus. Donec imperdiet sit amet est in pulvinar.</p>
			<p>Quisque imperdiet est ac posuere auctor. In viverra erat nec dolor posuere facilisis. Praesent commodo pulvinar lacus, at lobortis orci vestibulum id. Cras mattis molestie velit, nec vestibulum erat efficitur vitae. Etiam in dolor tincidunt, interdum eros vitae, vulputate tortor. Sed hendrerit porttitor vehicula. Duis et imperdiet ligula, blandit dapibus enim.</p>
		</div>
	</section>
</div>